*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.rooms{
    width: 90%;
    height: 300px;
    margin:100px auto;
}

.room__card{
    width: 22%;
    height: 100%;
    float: left;
    margin-left: 2.5%;
}

.room__img{
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
}
.room__img button{
    position: absolute;
    left: 35%;
    bottom: 5%;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #f8b100;
    color: white;
}
.room__img img{
    width: 100%;
    height: 100%;
    transition: 1s all;

}
.room__content{
    text-align: center;
    width: 100%;
    height: 20%;
}


.room__img:hover img{
    transform: scale(1.2,1.2);
}




.nav{
    width: 80%;
    height: 100px;
    background: green;
    position: fixed;
    top:0;
    left: 10%;
    transition: 1s all;
}

.nav--gray{
    width: 100%;
    height: 100px;
    background: gray;
    position: fixed;
    top:0;
    transition: 1s all; 
}

.box{
    width: 200px;
    height: 200px;
    background: red;
    margin: auto;
}


.totop{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(196, 84, 99, 0.4);
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: 1s all;
}


.portfolio{
    width: 300px;
    height: 300px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
}


.portfolio img{
    width: 100%;
    height: 100%;
    transition: 1s all;
}


.portfolio:hover img {
    transform: scale(1.2,1.2);

}

.portfolio__effect{
    position: absolute;
    left: -250px;
    bottom: -250px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: blue;
    transition: 1s all;
}

.portfolio:hover .portfolio__effect{
    left: -50px;
    bottom: -50px;
}


.slider{
    width: 100%;
    height: 400px;
    background: gray;
}

.slider img{
    width: 100%;
    height: 100%;
}