*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container{
    width: 50%;
    height: 80px;
    background: gainsboro;
    border: 1px solid grey;
    margin: 100px auto;
    text-align: center;
    padding-top: 2%;
}

.container table{
    margin: auto;
}




.done{
    text-decoration: line-through;
}

.container > button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: goldenrod;
}

.container > table button{
    padding: 5px 10px;
    border: none;
    outline: none;
    background: red;
    color:white
}
.container > button:hover{
    cursor: pointer;
}

.container input {
    border: none;
    padding: 10px 20px;
}

.hide{
    display: none;
}